<div class="select">
  <label class="select__label">
    <strong>{{ label }}</strong>
  </label>
  <select (change)="onSelectChange($event.target)">
    <option></option>
    <option *ngFor="let o of options"
            [value]="o.value"
            [defaultSelected]="defaultSelected === o.value"
            [label]="o.title"></option>
  </select>
  <div class="errors">
    <div class="errors__container">
      <span *ngFor="let e of errors"
            class="errors__error">{{ e }}</span>
    </div>
  </div>
</div>
