<form [formGroup]="form"
      class="form">
  <main class="form__inputs-container">
    <ng-container *ngFor="let key of controlsConfigKeys">
      <MyInput *ngIf="controlsConfig[key].type === inputTypes.inputtext"
               [value]="controlsConfig[key].initValue"
               [label]="controlsConfig[key].inputTitle"
               [placeholder]="controlsConfig[key].inputPlaceholder"
               [errors]="form.controls[key].errors"
               [formControlName]="key">
      </MyInput>
      <MySelect *ngIf="controlsConfig[key].type === inputTypes.select"
                [label]="controlsConfig[key].inputTitle"
                [options]="controlsConfig[key].selectOptions"
                [errors]="form.controls[key].errors"
                [formControlName]="key">
      </MySelect>
    </ng-container>
    <button class="form__button" (click)="submit()">Добавить</button>
  </main>
</form>
