<Modal *ngIf="modalAddConsumerFlag"
       title="Добавление потребителя"
       [onClose]="closeModalAddConsumer">
  <div>
    <MyForm [controlsConfig]="controlsConfig"
            (onSubmit)="closeModalAddConsumer()">
    </MyForm>
  </div>
</Modal>

<div class="app-container">
  <header>
    <button (click)="openModalAddConsumer()">Добавить потребителя</button>
  </header>
  <MyTable [data]="consumers"
           [formatters]="consumerFormatters"
           [disabledFields]="['id']">
  </MyTable>
</div>
