<Modal *ngIf="modalFlags.addConsumer"
       title="Добавление потребителя"
       (onClose)="closeModalAddConsumer()">
  <MyForm [controlsConfig]="controlsConfig"
          [outputFormat]="addConsumerOutputFormat"
          [submitButtonText]="'Добавить'"
          (onSubmit)="addConsumer($event)">
  </MyForm>
</Modal>

<Modal *ngIf="modalFlags.editConsumer"
       title="Редактирование потребителя"
       (onClose)="closeModalEditConsumer()">
  <MyForm [controlsConfig]="controlsConfigForEdit"
          [submitButtonText]="'Редактировать'"
          [outputFormat]="editConsumerOutputFormat"
          (onSubmit)="editConsumer($event)">
  </MyForm>
</Modal>

<div class="app-container">
  <header>
    <button (click)="openModalAddConsumer()">Добавить потребителя</button>
  </header>
  <app-filter [options]="filterOptions"
              (filterFn)="filterConsumersByType($event)">
  </app-filter>
  <MyTable [data]="consumers"
           [formatters]="consumerFormatters"
           [disabledFields]="['id']"
           [buttons]="consumerTableButtons"
           [gridTemplateColumns]="['auto', '24px', '130px']">
  </MyTable>
</div>
